<div class="center hero-unit">

  <h1>Horror Emporium</h1>
  <%= link_to "Sign up for Emails!", signup_path, class: "btn btn-large btn-primary" %>
  <h2>This is a test page for a scarrrrry website</h2>
  
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>