<footer class="footer"> 
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", static_pages_home_path %></li> 
      <li><%= link_to "Help", static_pages_help_path %></li> 
      <li><%= link_to "Contact Us", static_pages_contact_path %></li>
      <li><%= link_to "About Us", static_pages_about_path %></li>
    </ul> 
  </nav>
</footer>